body {
  background-color: black;
  text-align: center;
}

header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

a {
  color: aquamarine;
  font-size: 16px;
}

.whatDoesApp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
  color: gray;
}

.travelGuide h1,
.comingSoon h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 42px;
}

footer {
  text-align: right;
  color: gray;
}
